<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kumar.vikas.jecchat">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".offlineSaver"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Let'sChat"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".MainPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WelcomePage" />
        <activity android:name=".CreateUserPage" />
        <activity android:name=".LoginUserPage" />
        <activity
            android:name=".Settings_Activity"
            android:parentActivityName=".Setting1_Activity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" /> <!-- optional (needed if default theme has no action bar) -->
        <activity
            android:name=".AllUsersOfABranch_Activity"
            android:parentActivityName=".AllBranches_Activity" />
        <activity
            android:name=".UserProfile_Activity"
            android:parentActivityName=".AllUsersOfABranch_Activity">
            <intent-filter>
                <action android:name="JecChat.Request.Notification" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChatActivity"
            android:parentActivityName=".MainPage"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="JecChat.Message.Notification" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Comment_Activity"
            android:parentActivityName=".MainPage">
            <intent-filter>
                <action android:name="JecChat.Comment.Notification" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Notification_Activity"
            android:parentActivityName=".MainPage">
            <intent-filter>
                <action android:name="JecChat.Notification.Notification" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Post_Activity"
            android:parentActivityName=".MainPage" />
        <activity
            android:name=".AllBranches_Activity"
            android:parentActivityName=".AllYears_Activity" />
        <activity
            android:name=".AllYears_Activity"
            android:parentActivityName=".MainPage" />
        <activity android:name=".LikedUsers_Activity" />
        <activity android:name=".Image_view_Activity" />
        <activity
            android:name=".Setting1_Activity"
            android:parentActivityName=".MainPage" />
        <activity
            android:name=".UserAllPost_Activity"
            android:parentActivityName=".Setting1_Activity" />
        <activity android:name=".ChangePassword_Activity" />
        <activity android:name=".ChatImageMessage" />
        <activity android:name=".WebView_Activity" />
        <activity android:name=".ChangeProfileImage_Activity" />
        <activity android:name=".ChangeImageCover_Activity" />
        <activity
            android:name=".VideoPost_Activity"
            android:parentActivityName=".MainPage" />
        <activity android:name=".Group_Activity" />
        <activity
            android:name=".ChangeGroupImage_Activity"
            android:parentActivityName=".ChatActivity" />
        <activity android:name=".AllUsers_Activity" />
        <activity android:name=".Reply_Activity" />
        <activity android:name=".CroppedImage_Activity" />
        <activity android:name=".SelectCollege_Activity" />
        <activity android:name=".AllCollege_Activity" />
        <activity android:name=".AllFieldOfWork" />
        <activity android:name=".AddNewCollege_Activity" />
        <activity android:name=".PostToCollege_Activity" />
        <activity android:name=".AllUsersOfColleg_Activity" />
        <activity android:name=".ChangeCollege_Activity" />
        <activity android:name=".ChangeStatus"></activity>

    </application>

</manifest>